//
// This file contains all color definitions throughout the project.
//

// Greyscale - ordered from white to black
$color-white: #fff;
$color-black: #000;

// Colors - all other colors used in the project, can be grouped by general
// color (i.e. green, red, blue, yellow, ...).
$color-ebony-clay: #2d3047;
$color-slate-gray: #708090;
$color-roti: #c8ab53;
$color-soft-amber: #d1c9b4;
$color-asparagus: #8aa062;
$color-mojo: #c55d3b;
