.grid-container {
    display: grid;

    margin: 0 auto;
    padding: 100px 0 0;
    width: calc(6 * 150px + 5 * 30px);

    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.card {
    display: block;

    position: relative;

    width: 150px;
    height: 150px;

    border-radius: 15px;
    perspective: 1000px;

    &:hover {
        cursor: pointer;
    }

    &--front,
    &--back {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;

        backface-visibility: hidden;
        border-radius: 15px;
        transform-style: preserve-3d;
        transition: transform 0.6s, box-shadow 0.3s;
    }

    &--back {
        z-index: 2;

        background:
            linear-gradient(135deg, $color-slate-gray 22px, $color-soft-amber 22px, $color-soft-amber 24px, transparent 24px, transparent 67px, $color-soft-amber 67px, $color-soft-amber 69px, transparent 69px),
            linear-gradient(225deg, $color-slate-gray 22px, $color-soft-amber 22px, $color-soft-amber 24px, transparent 24px, transparent 67px, $color-soft-amber 67px, $color-soft-amber 69px, transparent 69px) 0 64px;
        background-size: 64px 128px;
        background-color: $color-slate-gray;

        box-shadow: inset 0 0.1em 5em rgba(0, 0, 0, 0.3);

        &:hover {
            box-shadow: inset 0 0.1em 5em rgba(220, 220, 220, 0.5);
        }
    }

    &--front {
        position: relative;

        transform: rotateY(-180deg);

        &.motiv1 {
            @extend .svg-motiv1;
            @extend .svg-motiv1-dims;
        }

        &.motiv2 {
            @extend .svg-motiv2;
            @extend .svg-motiv2-dims;
        }

        &.motiv3 {
            @extend .svg-motiv3;
            @extend .svg-motiv3-dims;
        }

        &.motiv4 {
            @extend .svg-motiv4;
            @extend .svg-motiv4-dims;
        }

        &.motiv5 {
            @extend .svg-motiv5;
            @extend .svg-motiv5-dims;
        }

        &.motiv6 {
            @extend .svg-motiv6;
            @extend .svg-motiv6-dims;
        }

        &.motiv7 {
            @extend .svg-motiv7;
            @extend .svg-motiv7-dims;
        }

        &.motiv8 {
            @extend .svg-motiv8;
            @extend .svg-motiv8-dims;
        }

        &.motiv9 {
            @extend .svg-motiv9;
            @extend .svg-motiv9-dims;
        }

        &.motiv10 {
            @extend .svg-motiv10;
            @extend .svg-motiv10-dims;
        }

        &.motiv11 {
            @extend .svg-motiv11;
            @extend .svg-motiv11-dims;
        }

        &.motiv12 {
            @extend .svg-motiv12;
            @extend .svg-motiv12-dims;
        }
    }

    &.flipped,
    &.matched {
        .card--front {
            transform: rotateY(0);
        }

        .card--back {
            transform: rotateY(-180deg);
        }
    }

    &.matched {
        .card--front::before {
            content: "";

            display: block;

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: $color-asparagus;
            opacity: 0;

            animation: 0.5s match ease-in-out;
            animation-delay: 0.3s;
            animation-iteration-count: 1;

            border-radius: inherit;
        }
    }
}

@keyframes match {
    0% {
        opacity: 0.3;
    }

    20% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}
